@import "reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

h1 {
  font-size: 55px;
}

h2 {
  font-size: 40px;
  color: red;
}

body {
  font-family: Manrope, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(0.875rem, 0.756rem + 0.6vw, 1.8rem);
  color: var(--color-text);
  background-color: var(--color-bg);

  &.lock {
    overflow: hidden;
  }
}

.app {
  // IMPORTANT
  &.mobile {
    height: calc(var(--vh, 1vh) * 100);

    @media (max-width: 772px) {
      transition: height 0.2s;
    }
  }
}

*::-webkit-scrollbar {
  width: 0;               /* ширина scrollbar */
  height: 0;
}
