@import "reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

body {
  font-family: Manrope, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-font-size);
  color: var(--color-text);
  background-color: var(--color-bg);

  &.lock {
    overflow: hidden;
  }
}

*::-webkit-scrollbar {
  width: 0;               /* ширина scrollbar */
  height: 0;
}

*::selection {
  background-color: var(--color-blue);
  color: var(--color-bg);
}
