.HomePage {
  text-align: center;
  display: grid;
  gap: 50px;
  justify-content: center;
  align-items: center;

  .box {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .image {
    width: 50px;
    height: 50px;
  }

  .react {
    animation: animation 5s infinite linear;
  }

  button {
    border-radius: 5px;
    border: 3px solid #000;
    cursor: pointer;
    font-size: 20px;
    padding: 8px;
    color: white;

    &:first-child {
      background-color: green;
    }

    &:last-child {
      background-color: red;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

@keyframes animation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
