.Nav {
  .dot {
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    display: block;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
    width: calc(clamp(16px, 1.2vw, 19px) / 2.75);
    height: calc(clamp(16px, 1.2vw, 19px) / 2.75);
    background-color: var(--color-text);
    will-change: transform;
    transition: var(--animate-faster);
    transition-property: transform;
  }

  .link {
    position: relative;
    padding: 15px;
    will-change: transform;
    display: inline-block;
    font-weight: 500;

    &.active {
      .dot {
        transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
      }
    }
  }

  .list {
    @media (any-hover: hover) {
      &:hover {
        .link {
          &.active {
            .dot {
              transform: translate(-50%, -50%) scale(0) rotate(0.001deg);
            }
          }

          @media (any-hover: hover) {
            &:hover {
              .dot {
                transform: translate(-50%, -50%) scale(1) rotate(0.001deg);
              }
            }
          }
        }
      }
    }
  }
}
