.Header {
  padding: clamp(0.75rem, 0.28rem + 2.35vw, 4.688rem);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
