:root {
  // index
  --index: calc((1vw + 1vh) * 0.7);
  --base-size: calc(1vw + 1vh);
  --text-font-size: clamp(0.875rem, 0.756rem + 0.597vw, 1.875rem);
  --h6-font-size: clamp(0.62rem, 0.33rem + 0.952vw, 1.05rem);
  --h5-font-size: clamp(0.813rem, 0.411rem + 1.071vw, 1.375rem);
  --h4-font-size: clamp(1.25rem, 1.101rem + 0.746vw, 2.5rem);
  --h3-font-size: clamp(1.375rem, 1.203rem + 0.858vw, 2.813rem);
  --h1-font-size: clamp(1.875rem, 1.5765rem + 1.4925vw, 4.375rem);
  --big-font-size: clamp(1.875rem, 0.979rem + 4.478vw, 9.375rem);

  // colors
  --overlay-color: rgb(0 0 0 / 30%);
  --overlay-color-15: rgb(0 0 0 / 15%);
  --error-primary: #ff0101;
  --error-secondary: #b00202;
  --color-blue: #0064f8;
  --color-black: #1c1d20;
  --color-map: #131314;
  --color-white: #fff;
  --color-super-dark: #141517;
  --color-light-green: #c0cac9;
  --color-border: rgb(28 29 32 / 17.5%);
  --color-border-40: rgb(28 29 32 / 40%);
  --color-shadow: rgb(255 255 255 / 20%) 0 0 0 1px;
  --color-shadow-opposite: rgb(14 14 14 / 20%) 0 0 0 1px;
  --drop-shadow: drop-shadow(18px 18px 16px #efefef);
  --box-shadow: 10px 10px 25px rgb(227 227 227 / 75%);
  --color-cart-1: #e8eaee;
  --color-cart-2: #e4dfdb;
  --color-cart-3: rgb(227 232 238 / 40%);
  --color-gray: #cfd0d2;

  // animation
  --animate-faster: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);

  // padding
  --p-container: clamp(1.375rem, 0.83rem + 2.72vw, 5.938rem);
  --padding-footer: clamp(1.875rem, 1.651rem + 1.119vw, 3.75rem);
}
