:root {
  // index
  --index: calc((1vw + 1vh) * 0.7);
  --base-size: calc(1vw + 1vh);
  --min-font-size: 16px; /* Минимальный размер шрифта */
  --max-font-size: 24px; /* Максимальный размер шрифта */
  --min-padding: 8px; /* Минимальный отступ */
  --max-padding: 32px; /* Максимальный отступ */
  --min-margin: 8px; /* Минимальный внешний отступ */
  --max-margin: 32px; /* Максимальный внешний отступ */

  // colors
  --overlay-color: rgb(0 0 0 / 30%);
  --overlay-color-15: rgb(0 0 0 / 15%);
  --white-color: #fff;
  --error-primary: #ff0101;
  --error-secondary: #b00202;

  // animation
  --animate-faster: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

@mixin adaptive-size($property, $min-value, $multiplier) {
  #{$property}: clamp(#{$min-value}, calc(var(--index) * #{$multiplier}), calc(#{$min-value} * 2));
}
