:root {
  // index
  --index: calc((1vw + 1vh) * 0.7);
  --base-size: calc(1vw + 1vh);
  --text-font-size: clamp(0.875rem, 0.756rem + 0.597vw, 1.875rem);
  --h5-font-size: clamp(0.625rem, 0.573rem + 0.261vw, 1.063rem);
  --h3-font-size: clamp(1.188rem, 0.993rem + 0.97vw, 2.813rem);
  --h1-font-size: clamp(1.875rem, 1.5765rem + 1.4925vw, 4.375rem);

  // colors
  --overlay-color: rgb(0 0 0 / 30%);
  --overlay-color-15: rgb(0 0 0 / 15%);
  --error-primary: #ff0101;
  --error-secondary: #b00202;
  --color-blue: #0064f8;
  --color-black: #1c1d20;
  --color-white: #fff;
  --color-super-dark: #141517;
  --color-border: rgb(28 29 32 / 17.5%);
  --color-border-40: rgb(28 29 32 / 40%);
  --color-shadow: rgb(255 255 255 / 20%) 0 0 0 1px;
  --color-shadow-opposite: rgb(14 14 14 / 20%) 0 0 0 1px;
  --drop-shadow: drop-shadow(18px 18px 16px #efefef);
  --color-cart-1: #e3e8ee;
  --color-cart-2: #e4dfdb;

  // animation
  --animate-faster: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-primary: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);

  // padding
  --p-container: clamp(1.375rem, 0.83rem + 2.72vw, 5.938rem);
}
