:root {
  --line-width: clamp(0.125rem, 0.08rem + 0.224vw, 0.4rem);
}

.ExperienceItem {
  display: flex;
  flex-direction: column;
  padding: calc(var(--index) * 1) calc(var(--index) * 1) calc(var(--index) * 1) 0;
  gap: clamp(0.75rem, 0.653rem + 0.485vw, 1.563rem);

  &.left {
    align-items: flex-end;
    justify-content: center;
    text-align: right;
  }

  &.right {
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: calc(var(--index) * 1) 0 calc(var(--index) * 1)  calc(var(--index) * 1);
  }

  .title {
    font-size: var(--h4-font-size);
    font-weight: 600;
  }

  .period {
    font-weight: 500;
  }

  .description {
    font-size: var(--h5-font-size);
    max-width: 700px;
    line-height: 1.4;
  }

  .company {
    .span {
      opacity: 0.5;
      font-size: var(--h5-font-size);
      margin-right: clamp(0.313rem, 0.275rem + 0.187vw, 0.625rem);
    }
  }

  @media (max-width: 772px) {
    gap: calc(var(--index) * 1.4);

    &.left,
    &.right {
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      padding: 0  calc(var(--index) * 1)  0 0;
    }
  }
}

.Experience {
  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr clamp(0.625rem, 0.401rem + 1.119vw, 2.5rem) 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    row-gap: 20px;
  }

  .item,
  .item2,
  .item3 {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: clamp(0.625rem, 0.401rem + 1.119vw, 2.5rem);
      height: clamp(0.625rem, 0.401rem + 1.119vw, 2.5rem);
      transform: translate(0, -50%);
      border-radius: 50%;
      background-color: var(--color-white);
      border: clamp(0.125rem, 0.08rem + 0.224vw, 0.5rem) solid var(--color-black);
      z-index: 1;
    }
  }

  .item {
    &::before {
      left: 100%;
    }
  }

  .item2 {
    grid-row: 2;
    grid-column: 3;

    &::before {
      right: 100%;
    }
  }

  .item3 {
    grid-row: 3;
    grid-column: 1;

    &::before {
      left: 100%;
    }
  }

  .line {
    position: relative;
    grid-row: span 3;

    &::before {
      content: "";
      position: absolute;
      top: 16.665%;
      left: calc(50% - (var(--line-width) / 2));
      width: var(--line-width);
      height: 66.66%;
      background-color: var(--color-border-40);
      border-radius: var(--line-width);
    }
  }

  @media (max-width: 772px) {
    .wrapper {
      grid-template-columns: 1fr clamp(0.625rem, 0.401rem + 1.119vw, 2.5rem);
    }

    .item,
    .item2,
    .item3 {
      grid-column: 1;

      &::before {
        right: auto;
        left: 100%;
      }
    }

    .line {
      grid-row: 1 / 4;
      grid-column: span 2;
    }
  }
}
