.NavToHome {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(0.625rem, 0.55rem + 0.37vw, 1.25rem);
  cursor: pointer;

  .credit {
    margin-right: clamp(0.313rem, 0.238rem + 0.37vw, 0.938rem);
    font-size: clamp(1rem, 0.866rem + 0.67vw, 2.125rem);
  }

  .text {
    position: relative;
    overflow: hidden;
  }

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: var(--animation-primary);
    transition-property: padding-right;

    h5 {
      white-space: nowrap;
    }
  }

  .name {
    position: relative;
    display: flex;
    align-items: center;
    transition: var(--animation-primary);
    transition-property: transform;

    h5 {
      padding-right: clamp(0.3rem, 0.275rem + 0.19vw, 0.625rem);
    }

    h5:last-child {
      position: absolute;
      top: 0;
      left: 100%;
    }
  }

  .code {
    transition: var(--animation-primary);
    transition-property: transform;
  }

  &:hover {
    .wrapper {
      padding-right: 2.6rem;

      .code {
        transform: translate(-4em);
      }

      .name {
        transform: translate(-4em);
      }
    }
  }
}
