.ProjectHeader {
  .title {
    font-size: var(--big-font-size);
    line-height: 1.5;
  }

  .content {
    padding: var(--p-container) 0;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--index) * 2);
  }

  .listItem {
    flex: 1 1 450px;
    display: flex;
    flex-direction: column;
    gap: clamp(1.125rem, 0.931rem + 0.97vw, 2.75rem);

    span {
      font-size: var(--h4-font-size);
    }
  }

  .buttons {
    position: relative;
    z-index: 1;
    display: flex;
    gap: calc(var(--index) * 2);
    justify-content: flex-end;

    .btn {
      will-change: transform;
    }
  }
}
