.PageTransition {
  overflow: hidden;

  .background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: -300px;
    cursor: wait;
    background-color: var(--color-bg-super-dark);
    z-index: 100;
  }

  .pathname {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(30px, 4vw, 40px);
    color: white;
    pointer-events: none;
    text-transform: uppercase;
    z-index: 102;

    span {
      white-space: nowrap;
      position: relative;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      color: var(--color-bg);

      &::after,
      &::before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--color-bg);
      }
    }
  }
}
