.NotFoundPage {
  position: inherit;

  .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--p-container)) var(--p-container)  calc(var(--p-container) * 2);
    overflow: hidden;
    gap: calc(var(--index) * 6);
    min-height: 80vh;

    @media (max-width: 1440px) {
      gap: calc(var(--index) * 5);
    }
  }

  .title {
    display: flex;
  }
}
