.ProjectLaptop {
  position: relative;

  .picture {
    background: rgb(100 100 100 / 40%);
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: bottom;
    border-radius: 1%;
    width: 73.7%;
    top: 47.5%;
    left: 49.9%;

    &::before {
      display: block;
      content: "";
      padding-bottom: 63%;
    }

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }

  .device {
    position: relative;

    &::before {
      display: block;
      content: "";
      padding-bottom: 50%;
    }

    .laptopImage {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
}
