.AnimateModal {
  // 150 / 550
  height: clamp(9.375rem, 6.39rem + 14.925vw, 34.375rem);

  // 180 / 650
  width: clamp(11.25rem, 7.743rem + 17.537vw, 40.625rem);
  position: fixed;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 50%;
  left: 50%;
  will-change: left, top;

  .modalSlider {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    will-change: top;

    .modal {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-cart-1);
      padding: 15% 10%;

      &:nth-child(even) {
        background-color: var(--color-cart-2);
      }
    }
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cursor,
  .cursorLabel {
    width: clamp(3.125rem, 2.528rem + 2.985vw, 8.125rem);
    height: clamp(3.125rem, 2.528rem + 2.985vw, 8.125rem);
    border-radius: 50%;
    background-color: var(--color-blue);
    color: white;
    position: absolute;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .cursorLabel {
    background-color: transparent;
  }
}
