.LinksList {
  .title {
    padding-bottom: clamp(0.688rem, 0.531rem + 0.784vw, 2rem);
  }

  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 calc(clamp(0.75em, 4vw, 1.25em) * -0.9);
    gap: 5px;

    li {
      display: inline-flex;
      min-height: 2em;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0  clamp(0.75em, 4vw, 1.25em);

        .text {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 190%;
            width: 0;
            height: 1px;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: var(--color-white);
            will-change: with;
            transition: var(--animate-faster);
            transition-property: width;
          }
        }

        @media (any-hover: hover) {
          &:hover {
            .text {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  &.column {
    @media (min-width: 772px) {
      .list {
        flex-direction: column;
        align-items: flex-start;

        a {
          .text {
            &::after {
              top: 115%;
              background-color: var(--color-black);
            }
          }
        }
      }
    }
  }
}
