.NavAside {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 100;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color);
    will-change: opacity;
  }

  .wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--color-text);
    color: var(--color-bg);
    will-change: transform;

    .body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 15vh 7.5vw 10vh;
      position: relative;
    }

    .nav,
    .footer {
      display: flex;
      flex-direction: column;

      h5 {
        font-size: 0.6rem;
        text-transform: uppercase;
        font-weight: 500;
        opacity: 0.5;
        padding-bottom: 1.5em;
      }
    }

    .nav {
      h5 {
        border-bottom: 1px solid;
      }

      ul {
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: start;

        li {
          .link {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100%;
            padding: 0  clamp(0.75em, 4vw, 1.25em);
            height: auto;
            line-height: 1.5;
          }
        }
      }
    }

    .footer {
      ul {
        margin-left: calc(clamp(0.75em, 4vw, 1.25em) * -0.9);

        li {
          display: inline-flex;
          min-height: 2.5em;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.85em;
            min-height: 100%;
            padding: 0  clamp(0.75em, 4vw, 1.25em);

            .text {
              position: relative;

              &::after {
                content: "";
                position: absolute;
                top: 190%;
                width: 0;
                height: 1px;
                left: 50%;
                transform: translate(-50%, 0);
                background-color: var(--color-bg);
                will-change: with;
                transition: var(--animate-faster);
                transition-property: width;
              }
            }

            @media (any-hover: hover) {
              &:hover {
                .text {
                  &::after {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
