.AboutPage {
  .wrapper {
    position: relative;
    display: flex;
    padding: var(--p-container);
    overflow: hidden;
    gap: calc(var(--index) * 2.5);

    @media (max-width: 1440px) {
      gap: calc(var(--index) * 2);
    }
  }

  // TEXT
  .textBlock {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    gap: 10vh;

    .biography,
    .skills,
    .experience {
      min-height: 70vh;
      max-width: 80%;
    }

    @media (max-width: 3000px) {
      .biography,
      .skills,
      .experience {
        max-width: none;
      }
    }

    @media (max-width: 1440px) {
      flex: 1 0 60%;
    }

    @media (max-width: 992px) {
      flex: 1 0 70%;
    }

    @media (max-width: 772px) {
      flex: 1 0 100%;
    }
  }

  .imageBlock {
    position: relative;

    .image {
      position: relative;
      will-change: top;
    }

    .brain {
      width: 1042px;
      height: 810px;
    }

    @media (max-width: 772px) {
      display: none;
    }
  }
}
