.AboutPage {
  .wrapper {
    position: relative;
    display: flex;
    padding: var(--p-container);
    overflow: hidden;
  }

  // TEXT
  .textBlock {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    gap: 64px;

    .biography,
    .skills,
    .experience {
      min-height: 70vh;
    }
  }

  .imageBlock {
    position: relative;

    .brain {
      width: 1042px;
      height: 810px;
    }
  }
}
