.Biography {
  min-height: 70vh;

  .description {
    display: grid;
    gap: calc(var(--index) * 1);

    p {
      line-height: 1.4;
    }

    .phrase {
      padding-top: calc(var(--index) * 1.5);
      font-style: italic;
    }
  }

  .signature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    .resume {
      position: relative;
      top: 10%;

      .resumeBtn {
        display: flex;
        align-items: center;
        gap: calc(var(--index));
      }
    }

    .svg {
      width: clamp(6.25rem, 4.384rem + 9.328vw, 21.875rem);

      path {
        will-change: stroke-dasharray;
      }
    }

    @media (max-width: 350px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
}
