.AnimateList {
  max-width: 70vw;
  margin: 0 auto;
  position: relative;

  .row {
    .link {
      display: grid;
      grid-template-columns: 1fr   minmax(15%, auto);
      gap: 20px;

      // 20 / 70
      padding: clamp(1.25rem, 0.877rem + 1.866vw, 4.375rem) var(--p-container);

      p {
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0.5;
        font-size: var(--h5-font-size);
      }

      .bg {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--color-black);
        display: flex;
        top: 100%;
      }
    }
  }

  @media (max-width: 992px) {
    max-width: 85vw;
  }

  @media (max-width: 772px) {
    max-width: none;

    .row .link p {
      font-size: var(--h5-font-size);
    }
  }
}
