.WorkPage {
  position: inherit;

  .wrapper {
    padding: calc(var(--p-container) * 2) 0;
  }

  .title {
    font-size: var(--big-font-size);
    max-width: 70vw;
    margin: 0 auto;
    padding: 0 var(--p-container) calc(var(--p-container) * 1.5) var(--p-container);
  }

  @media (max-width: 992px) {
    .title {
      max-width: 85vw;
    }
  }

  @media (max-width: 772px) {
    .title {
      max-width: none;
    }
  }
}
