.NavAside {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 100;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color-15);
    will-change: opacity;
  }

  .wrapper {
    position: absolute;
    right: -1px;
    top: 0;
    height: 101%;
    background-color: var(--color-black);
    color: var(--color-white);
    will-change: transform;

    .body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 12vh 7.5vw 8vh;
      position: relative;
    }

    .nav,
    .footer {
      display: flex;
      flex-direction: column;

      h5 {
        font-size: clamp(0.6em, 4vw, 0.8em);
        text-transform: uppercase;
        font-weight: 500;
        opacity: 0.5;
        padding-bottom: 1.5em;
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      h5 {
        border-bottom: 1px solid;
      }

      .list {
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        flex: 1 1 auto;

        li {
          position: relative;

          .link {
            display: flex;
            align-items: center;
            justify-content: start;
            min-height: 100%;
            padding: 0  clamp(0.75em, 4vw, 1.25em);
            margin: 0 calc(clamp(0.75em, 4vw, 1.25em) * -1);
            height: auto;
            line-height: 1.5;
            font-size: clamp(2.5em, 4vw, 3em);

            .dot {
              position: absolute;
              left: -35px;
              top: 50%;
              width: calc(clamp(0.65em, 4vw, 0.75em) / 3);
              height: calc(clamp(0.65em, 4vw, 0.75em) / 3);
              background-color: var(--color-white);
              border-radius: 50%;
              will-change: transform;
              transition: var(--animate-faster);
              transition-property: transform;
              transform: translate(0, -50%) scale(0) rotate(0.001deg);
            }

            &.active {
              .dot {
                transform: translate(-0%, -50%) scale(1) rotate(0.001deg);
              }
            }
          }
        }

        @media (any-hover: hover) {
          &:hover {
            .link {
              &.active {
                .dot {
                  transform: translate(0%, -50%) scale(0) rotate(0.001deg);
                }
              }

              @media (any-hover: hover) {
                &:hover {
                  .dot {
                    transform: translate(0%, -50%) scale(1) rotate(0.001deg);
                  }
                }
              }
            }
          }
        }
      }
    }

    .lang {
      padding: 1.5em 0;
    }

    .footer {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        opacity: 0.5;
      }

      h5 {
        padding-top: 1.5em;
        padding-bottom: 0.5em;
      }

      .footerList {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 calc(clamp(0.75em, 4vw, 1.25em) * -0.9);
        gap: 5px;

        li {
          display: inline-flex;
          min-height: 2.5em;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.85em;
            min-height: 100%;
            padding: 0  clamp(0.75em, 4vw, 1.25em);

            .text {
              position: relative;

              &::after {
                content: "";
                position: absolute;
                top: 190%;
                width: 0;
                height: 1px;
                left: 50%;
                transform: translate(-50%, 0);
                background-color: var(--color-white);
                will-change: with;
                transition: var(--animate-faster);
                transition-property: width;
              }
            }

            @media (any-hover: hover) {
              &:hover {
                .text {
                  &::after {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 772px) {
      left: 0;

      .nav {
        ul {
          li {
            width: 100%;

            .link {
              .dot {
                right: 0;
                left: auto;
              }
            }
          }
        }
      }

      .footer {
        position: relative;
      }
    }
  }
}
