.dark,
.darkTheme {
  --color-text: #fff;
  --color-bg: #292929;
  --color-bg-dark: #fff;
  --color-bg-super-dark: #f1f1f1;
  --color-border: rgb(238 238 246 / 17%);
  --color-shadow: rgb(14 14 14 / 20%) 0 0 0 1px;
  --color-shadow-opposite: rgb(255 255 255 / 20%) 0 0 0 1px;
  --drop-shadow: drop-shadow(18px 18px 16px #232222);
}
