.light,
.lightTheme {
  --color-text: #1c1d20;
  --color-bg: #fff;
  --color-bg-dark: #1c1d20;
  --color-bg-super-dark: #141517;
  --color-border: rgb(28 29 32 / 17.5%);
  --color-shadow: rgb(255 255 255 / 20%) 0 0 0 1px;
  --color-shadow-opposite: rgb(14 14 14 / 20%) 0 0 0 1px;
  --drop-shadow: drop-shadow(18px 18px 16px #efefef);
}
