.ProjectMobile {
  position: relative;

  .picture {
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: bottom;
    border-radius: 1%;
    width: 73.4%;
    top: 49.8%;
    left: 50%;

    &::before {
      display: block;
      content: "";
      padding-bottom: 183%;
    }

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }

  .device {
    position: relative;

    &::before {
      display: block;
      content: "";
      padding-bottom: 150%;
    }

    .laptopImage {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
}
