.item {
  position: relative;

  .line {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background-color: var(--color-border-40);
    width: 100%;
    will-change: width;
  }

  .link {
    position: relative;
    display: grid;
    grid-template-columns: 1fr  minmax(15%, auto);
    align-items: center;
    transition: color 0.3s;
    gap: 20px;

    // 20 / 80
    padding: clamp(1.25rem, 0.802rem + 2.239vw, 5rem) var(--p-container);

    p {
      display: block;
      position: relative;
      z-index: 1;
      transition: left 0.3s ease, right 0.3s ease;

      &:first-of-type {
        left: 0;
      }

      &:last-of-type {
        right: 0;
      }

      &.name {
        font-size: var(--h1-font-size);
        font-weight: 500;
      }
    }
  }

  &:hover {
    .link {
      color: var(--color-blue);

      p:first-of-type {
        left: 15px;
      }

      p:last-of-type {
        right: 15px;
      }
    }
  }

  @media (max-width: 772px) {
    .link {
      font-size: var(--text-font-size);
    }

    .line {
      transform: scaleX(0.9);
    }
  }
}
