.item {
  position: relative;

  .line {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background-color: #000;
    width: 100%;
  }

  .link {
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 40%) minmax(15%, 20%);
    font-size: var(--h3-font-size);
    transition: color 0.3s;

    // 20 / 70
    padding: clamp(1.25rem, 0.877rem + 1.866vw, 4.375rem);

    p {
      display: block;
      padding: 0 5px;
      position: relative;
      z-index: 1;
      transition: left 0.3s ease, right 0.3s ease;

      &:first-of-type {
        left: 0;
      }

      &:last-of-type {
        right: 0;
      }
    }

    .bg {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: var(--color-text);
      display: flex;
      top: 0;
      transform: translate(0, -102%);
    }
  }

  &:hover {
    .link {
      color: var(--color-blue);

      p:first-of-type {
        left: 15px;
      }

      p:last-of-type {
        right: 15px;
      }
    }
  }

  @media (max-width: 772px) {
    .link {
      font-size: var(--text-font-size);
    }

    .line {
      transform: scaleX(0.9);
    }
  }
}
