.TextSlider {
  top: 0;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  will-change: transform;
  pointer-events: none;
  min-width: 1200px;

  .svg {
    flex: 0 0 100%;
    width: 100%;
    top: 100%;
    fill: var(--color-white);
    filter: var(--drop-shadow);
    height: 100%;
    padding-right: 5%;
  }
}
