:global(.gm-style-cc) {
  opacity: 0.01 !important;
}

.ContactPage {
  .header {
    position: relative;
    display: flex;
    width: 100%;
    padding: calc(var(--p-container) * 2) calc(var(--p-container) * 3)  calc(var(--p-container) * 2) 0;

    .map {
      width: 100%;

      // 350 x 700
      height: clamp(21.875rem, 19.263rem + 13.06vw, 43.75rem);
    }

    .title {
      position: absolute;
      top: 50%;
      right: calc(var(--p-container));
      transform: translate(0, -50%);
      display: grid;

      // 55 x 120
      grid-template-rows: repeat(3, clamp(3.438rem, 2.952rem + 2.425vw, 7.5rem));
      grid-template-columns: repeat(4, clamp(3.438rem, 2.952rem + 2.425vw, 7.5rem));
      justify-content: center;
      align-items: center;
      align-content: center;
      justify-items: center;
      font-size: clamp(3.438rem, 2.952rem + 2.425vw, 7.5rem);
      font-weight: 700;
      line-height: 1;
      gap: clamp(3.438rem, 2.952rem + 2.425vw, 7.5rem);
      color: var(--color-gray);

      i {
        font-style: normal;

        &:nth-child(1) {
          animation: letter-1 2s;
        }

        &:nth-child(2) {
          animation: letter-2 1.6s;
        }

        &:nth-child(3) {
          animation: letter-3 2.2s;
        }

        &:nth-child(4) {
          animation: letter-4 2.6s;
        }

        &:nth-child(5) {
          animation: letter-5 2.4s;
        }

        &:nth-child(6) {
          animation: letter-6 1.8s;
        }

        &:nth-child(7) {
          animation: letter-7 2.8s;
        }

        &:nth-child(8) {
          animation: letter-1 2s;
        }

        &:nth-child(9) {
          animation: letter-3 2.2s;
        }

        &:nth-child(10) {
          animation: letter-3 2.2s;
        }

        &:nth-child(11) {
          animation: letter-2 1.6s;
        }

        &:nth-child(12) {
          animation: letter-7 2.8s;
        }

        &:nth-child(13) {
          animation: letter-6 1.8s;
        }

        &:nth-child(14) {
          animation: letter-5 2.4s;
        }

        &:nth-child(15) {
          animation: letter-4 2.6s;
        }

        &:nth-child(16) {
          animation: letter-6 1.8s;
        }
      }

      .apostrophe {
        position: relative;

        &::before {
          content: "'";
          position: absolute;
          left: calc(100% + 5%);
        }
      }

      .mark {
        color: var(--color-black);
      }
    }

    @media (max-width: 772px) {
      padding: var(--p-container) 0;
      .title { display: none; }
    }
  }

  .wrapper {
    padding: var(--p-container);
  }
}

@keyframes letter-1 {
  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letter-2 {
  0%,
  66.667% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letter-3 {
  0%,
  83.333% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letter-4 {
  0%,
  87.5% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letter-5 {
  0%,
  85.714% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letter-6 {
  0%,
  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes letter-7 {
  0%,
  88.888% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
