.TextMaskAnimated {
  &.smallSize {
    font-size: var(--h5-font-size);
  }

  &.regularSize {
    font-size: inherit;
  }

  &.mediumSize {
    font-size: var(--h3-font-size);
    line-height: 1.2;
  }

  &.largeSize {
    font-size: var(--h1-font-size);
    line-height: 1.1;
  }

  &.normal {
    font-weight: 400;
  }

  &.medium {
    font-weight: 500;
  }

  &.bold {
    font-weight: 700;
  }

  &.black {
    font-weight: 900;
  }

  .letter {
    display: inline-block;
    position: relative;
    overflow: hidden;

    span {
      display: inline-block;
    }
  }
}
