.AppButton {
  &.clear {
    .Button {
      height: 4.25em;
      padding: 0 2.5em;
      background-color: transparent;
      border-radius: 2.125em;
      min-width: 1em;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-shadow: inset 0 0 0 1px var(--color-border);
    }
  }

  // burger

  &.burger {
    position: fixed;
    right: clamp(1rem, 0.597rem + 2.01vw, 4.375rem);
    top: clamp(1rem, 0.597rem + 2.01vw, 4.375rem);
    z-index: 200;

    .Button {
      width: clamp(3.125rem, 2.826rem + 1.49vw, 5.625rem);
      height: clamp(3.125rem, 2.826rem + 1.49vw, 5.625rem);
      border-radius: 50%;
      background-color: var(--color-text);
      box-shadow: var(--color-shadow);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .children {
      width: 100%;
    }

    .burger {
      width: 100%;

      &::after,
      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 40%;
        margin: auto;
        background-color: var(--color-bg);
        position: relative;
        transition: transform 0.3s;
      }

      &::after {
        top: -5px;
      }

      &::before {
        top: 5px;
      }
    }

    &.active .burger {
      &::after {
        transform: rotate(45deg);
        top: -1px;
      }

      &::before {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  &.menu {
    .Button {
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: clamp(0.625rem, 0.55rem + 0.37vw, 1.25rem);
      cursor: pointer;
      color: var(--color-text);

      .children {
        display: flex;
        align-items: center;
        gap: 7px;

        &::before {
          content: "";
          border-radius: 50%;
          background-color: var(--color-text);
          width: calc(clamp(16px, 1.2vw, 19px) / 2.75);
          height: calc(clamp(16px, 1.2vw, 19px) / 2.75);
        }
      }
    }
  }
}
